*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Alegreya", serif;
    font-weight: 300;
}

.grid-wrapper {
    display: grid;
    grid-template:
        "wrapper . ." 15vh
        ". title ." 70vh
        / 1fr 4fr 2fr;
    background-image: url("images/konini_orion-1600x1067.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

.grid-brands-wrapper {
    display: grid;
    grid-template:
        "wrapper . ." 15vh
        ". title ." 70vh
        / 1fr 4fr 2fr;
}

#wrapper {
    grid-area: wrapper;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

#title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-brands {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title-text {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .1)
}

#text {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin-top: 0.5rem;
}

.small {
    height: 1.5rem;
}

.medium {
    height: 3rem;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

#wrapper-bottom {
    display: flex;
    background-color: #edeae5;
    padding: 0.5rem;
    justify-content: space-around;
}

#logo {
    align-self: center;
}

ul {
    list-style: none;
}

#icon {
    background-color: #edeae5;
    display: flex;
    flex-direction: column;
}

.footer-fb,
.footer-ig {
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    width: 20%;
}